body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(37, 43, 13);
}

.gallery-container {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.alice-carousel {
  height: 100%;
}

.alice-carousel__wrapper {
  height: 100%;
}

.overlay-content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 10;
  font-family: 'Poppins', sans-serif;
  width: 80%;
  max-width: 1000px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gallery-button1 {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: rgb(243, 239, 239);
  color: rgb(91, 105, 52);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.gallery-button2 {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: rgb(70, 82, 38);
  color: rgb(250, 250, 249);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.gallery-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 550px;
  margin-bottom: 300px;
  background-color: rgba(247, 241, 241, 0.7);
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  border-radius: 20px;
  margin-top: 150px;
  font-family: 'Poppins', sans-serif;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar ul li {
  cursor: pointer;
}

.tab-item {
  color: rgb(56, 54, 54);
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.tab-item svg {
  margin-right: 8px;
}

.companyname {
  font-size: 70px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  margin-top: 320px;
}

.discover {
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
}

.textgreen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 550px;
  width: 1350px;
  background-color: rgb(181, 216, 174);
  border-radius: 10px;
  padding: 50px 50px 0 50px; 
  box-sizing: border-box;
}

.text1 {
  color: rgb(70, 82, 38);
  font-size: 35px;
  font-family: 'Poppins', sans-serif;
  font-weight: 750;
  margin-bottom: 10px;
  margin-top: 20px;
}

.text2 {
  color: rgb(70, 82, 38);
  font-size: 20px;
}
.text3{
  color: rgb(70, 82, 38);
  font-size: 35px;
  font-family: 'Poppins', sans-serif;
  font-weight: 750;
  margin-bottom: 10px;
  margin-top: 60px;
}
.button3 {
  display: inline-flex; 
  align-items: center; 
  gap: 8px; 
  margin: 10px;
  padding: 10px 20px;
  background-color: rgb(70, 82, 38);
  color: rgb(250, 250, 249);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}
.flavours{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 500px;
  width: 1350px;
  background-color: rgb(242, 245, 242);
  border-radius: 10px;
  padding: 50px 50px 0 50px; 
  box-sizing: border-box;
  overflow: hidden;
}
.text4{
  color: rgb(70, 82, 38);
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 795;
  margin-bottom: 10px;
  margin-top: 30px;
  margin-left: 65px;
}
.listflavours {
  width: 100%;
  margin-left: 65px;
  padding: auto;
  display: flex;
}

.flavourlist {
  list-style: none; 
  padding: 0; 
  margin: 0; 
}


.flavourlist li {
  margin-right: 10px;
  display: flex;
  align-items: center; 
  margin-top: 20px;
  padding: auto;
  font-size: 18px; 
  color: rgb(70, 82, 38);
  font-family: 'Poppins', sans-serif;
}
.icon {
  margin-right: 10px; 

}
.Roomscape{
  justify-content: center;
  margin-left: 500px;
  color: rgb(70, 82, 38);
  font-family: 'Poppins', sans-serif;
  font-size: xx-large;
  font-weight: bolder;

}
.roomscape{
  height: 700px;
  width: 1350px;
  
  background-color: rgb(245, 241, 241);
  
}
.line2{
  margin-left: 300px;
  color: rgb(70, 82, 38);
  font-family: 'Poppins', sans-serif;
  font-size: x-large;

}
.Roomtypes{
  margin-left: 60px;
  margin-top: 20px;
}
.Nearest{
  margin-left: 60px;
  color: rgb(70, 82, 38);
  font-family: 'Poppins', sans-serif;
  font-size:xx-large;
  font-weight: bold;
}
.nearest{
  height: 300px;
  width: 1450px;
  background-color: rgb(242, 245, 242);

}
.title{
  display: flex;
  margin-left: 400px;
  margin-top: 10px;

}
.Place{
  margin-left: 150px;
}
.Localities{
  margin-top: 30px;
  color: rgb(70, 82, 38);
  font-family: 'Poppins', sans-serif;
  font-size:x-large;

}
.iconlocation{
  font-size: x-large;
  color: rgb(70, 82, 38);
  margin-right: 20px;
}
.greenLast{
  height: 100px;
  width: 1350px;
background-color:  rgb(70, 82, 38) ;
}
.navbarroom{
  margin-top: 10px;

}
.resttax{
  font-size: xx-large;
  font-weight: 800;
  color: rgb(61, 71, 29);
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
  margin-left: 50px;
}
.navbar1 {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 550px;
  margin-bottom: 50px;
  background-color: rgba(247, 241, 241, 0.7);
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  border-radius: 20px;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
}
.tab-item1{
  color: rgb(37, 37, 37);
  margin-left: 10px;
 
}
.typesroomsbar{
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  margin-bottom: 10px;
  background-color: rgba(247, 241, 241, 0.7);
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  border-radius: 10px;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
}
.familyphotos{
  margin-top: 20px;
  width: 1000px;
  height: 600px;
  margin-left: 150px;
}

.Imagerest{
  margin-left: 50px;
  margin-top: 20px;
  border-radius: 50px;
}



.imageandtext {
  display: flex;
}
@media screen and (max-width: 1600px) {
  .roomscape,
  .nearest,
  .greenLast {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .Roomscape,
  .nearest {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  .companyname {
    font-size: 50px;
  }
  
  .navbar,
  .navbar1 {
    width: 90%;
  }
  
  .Roomscape,
  .nearest {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  .companyname {
    font-size: 40px;
  }
  
  .navbar,
  .navbar1 {
    width: 100%;
  }
  
  .Roomscape,
  .nearest {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .companyname {
    font-size: 30px;
  }
  
  .roomscape,
  .nearest,
  .greenLast {
    padding: 20px;
  }
  
  .navbar,
  .navbar1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
  }
  
  .navbar ul {
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .tab-item {
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .companyname {
    font-size: 25px;
  }
  
  .overlay-content {
    top: 20%;
  }
}
.boldtext{
  font-size: 18px;
  font-weight: 500;
  color:  rgb(70, 82, 38);
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  margin-left: 50px;

}
.boldtext1{
  font-size: 25px;
  font-weight: 600;
  color:  rgb(70, 82, 38);
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  margin-left: 80px;
  margin-bottom: 20px;
  margin-top: 50px;
}
.boldtext > svg {
  margin-right: 10px; 
}
.nobold{
  font-size: 15px;
  font-weight: 500;
  color:  rgb(70, 82, 38);
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  margin-left: 50px;
}
.restlastimg{
  display: flex;
}
.lists{
  margin-left: 10px;
  margin-top: 40px;
}
.restaurantimage{
  margin-left: 60px;
 border-radius: 20px;
}
.resttax1{
  font-size: xx-large;
  font-weight: 800;
  color: rgb(61, 71, 29);
  font-family: 'Poppins', sans-serif;
  margin-top: 70px;
  margin-left: 50px;
}
.grid-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
